*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html,body{
    height: 100%;
    width:100%;
}
.container{
    min-height: 100vh;
    padding:10px;
    width: 100%;
    background: linear-gradient(79deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.list-container{
    width:100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;
}
.list-container h2{
    margin-bottom: 20px;
    display: flex;
    color:#002765;
    align-items: center;
}
.list-container h2 img{
    width:50px;
    margin-left: 10px;
}
.input{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color:#ebedee ;
    align-items: center;
    border-radius:10px;
}
.input input{
    background: transparent;
    border:none;
    flex: 1;
    outline: none;
    border-radius: 23px;
    font-size: 16px;
    padding:20px;
}
.input button{
    padding:20px 40px;
    color:white;
    cursor:pointer;
    border-radius:30px;
    font-size: 16px;
    background-color: rgb(165, 71, 59);
}
.feedback{
    color:red;
    padding:0px 20px;
    display: none;
}
.show{
    display: block;
}
#list li{
  list-style: none;
  padding:10px 10px 20px 50px;
  position: relative;
  user-select: none;
  font-size: 17px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

#list li::before{
    content:'';
    width:28px;
    height:28px;
    background-image: url("images/unchecked.png");
    position: absolute;
    top:15%;
    left:1%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
#list li.checked{
    text-decoration: line-through;
}
#list li.checked::before{
    content:'';
    width:28px;
    height:28px;
    background-image: url("images/checked.png");
    position: absolute;
    top:15%;
    left:1%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
li span{
    width:40px;
    font-size: 21px;
    height:40px;
    text-align: center;
   line-height:40px;
  
}
li span:hover{
    background: orange;
    border-radius: 50%;
}